<script type="text/javascript">
  window.assets = {
    magnifying_glass: "<%= image_url('magnifying-glass.png') %>",
    map: "<%= image_url('map.png') %>",
    star_blue: "<%= image_url('star-blue.png') %>",
    star_gray: "<%= image_url('star-gray.png') %>",
    teachable_logo: "<%= image_url('teachable-logo.png') %>"
  }
</script>

<main id="root"></main>
